<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title><%= @page_title %></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/base.css"/>
        <%= javascript_include_tag :defaults %>
        <%= calendar_date_select_includes "red" %>
    </head>
    <body>
        <div id="menu">
            <%= link_to "Home",
            :controller => "main",
            :action     => "welcome" %>
            <% if logged_in? %>
            <%= link_to "Enter data", days_path %>
            <%= link_to "Edit preferences", edit_user_path(current_user) %>
            <%= link_to "Log out", session_path, :method => :delete %>
            <div style="text-align: right">
                Not <%= current_user.login %>? Click <%= link_to "here", session_path, :method => :delete %>
            </div>
            <% else %>
            <%= link_to "Login", new_session_path %>
            <%= link_to "Sign up", new_user_path %>
            <% end %>
        </div>
        <h1 class="banner">Cycle Charting</h1>
        <%= @content_for_layout %>
        <div id="footer">
            <hr/>
            <p>
                Copyright &copy; 2008, <%= link_to "Cycle Charting",
                :controller => "main",
                :action     => "welcome" %>
            </p>
        </div>
    </body>
</html>
